/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif; /* Police principale */
  position: relative;
  height: 100%;
  text-decoration: none;
  background-color: #f8f9fa; /* Couleur de fond légère */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", serif; /* Changement de police pour les titres */
}

.custom-top {
  margin-top: 100px;
}

.ads-container {
  margin: 20px auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
    Card Styles
  --------------------------------------------------------------*/
.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color: #f1f1f1;
  padding: 20px;
  border-bottom: 2px solid #ddd;
}

.card-header strong {
  color: #555;
}

.card-body {
  padding: 20px;
  background-color: #fff;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  color: #777;
}

/*--------------------------------------------------------------
    Boutons
  --------------------------------------------------------------*/
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/*--------------------------------------------------------------
    Jumbotron + Bandeau Transparent
  --------------------------------------------------------------*/
.jumbotron {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.blur-background {
  background-image: url("../images/castille.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(8px);
  background-size: cover;
  background-position: center;
}

.jumbotron-container {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
}

/*--------------------------------------------------------------
  # Logo
  --------------------------------------------------------------*/
.logo {
  width: 120px;
  height: auto;
}
